body {
  background: url('../img/food.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 12em;
}

.container {
  background-color: rgba(100,170,76,0.7);
  padding: 2em;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.recipe {
  background: #E0F8E0;
  padding: 0.5em;
  font: 1em Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.recipe div span:first-child {
  font-weight: bold;
}
